* {
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px solid green; */
    padding: 0;
}

html {
    font-size: 1rem;
}

body {
    height: 100vh;
    /* background-color: rgba(17, 17, 17, 0.878); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#tip-form {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* bill */
#bill-container {
    display: flex;
}

#bill-container > * {
    flex: 1 0 50%;
}

#bill::placeholder {
    text-align: left;
}
/*  */


/* tip */
#tip-container {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

#tip-percentage-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#tip-numbers-container {
    display: flex;
}
#tip-numbers-container > *{
    flex: 1 0 50%;
    text-align: center;;
}

#tip-percentage-input-container > * {
    flex: 1 0 50%;
}

#tip-btn-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#tip-percentage-input::placeholder {
    text-align: right;
}

.tip-form-btn {
    flex: 1 0 calc(100% / 3);
}

#split-tip-btn {
    width: 100%;
}
/*  */


/* split */
#split-container {
    display: none;
    /* display: flex; */
    flex-direction: column;
}
#split-container > * {
    flex: 1 0 25%;
}

#split-count-input-container {
    display: flex;
}

#split-count-input-container > *{
    flex: 1 1 50%;
}

#split-result-container {
    text-align: center;
}
/*  */


/* result */
#result-output {
    text-align: center;
}
/*  */


/* reset */
#reset-btn {
text-align: center;
}

/* messages */
#results-msgs-container {
    text-align: center;
}
/*  */


.form-input-field {
    text-align: center;
    width: 25%;
}

.input-container {
    display: flex;
    justify-content: space-evenly;
}

.input-container label{
    text-align: center;
}

.input-btn-container {
    display: flex;
}

.math-icon {
    width: min-content;
    margin: auto;
}